

.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}
.product {
    display: flex;
}
img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }
  .product-image {
    flex-basis: 700px;
  }
  .product-info {
    margin-top: 10px;
    flex-basis: 500px;
  }

  button {
    margin-top: 30px;
    border: none;    
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
  }
  .review-form {
    margin-top: 15px;
    border: 1px solid #999999;
    padding-left: 15px;
  }

  .cart {
    margin-right: 25px;
  float: right;
  
  padding: 5px 20px;
  }
  .color-box {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  .disabledButton {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }